@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.1/angular.min.js"></script>
<script src="~/Scripts/app.js"></script>


<div ng-app="movies">

    <div ng-controller="moviesListController" ng-init="refresh()">

        <table class="table-bordered" style="width:70%;">
            <tbody>
                <tr ng-repeat="m in movieList.Movies">
                    <td><img src="{{m.Poster}}" style="width:240px;height:180px;" onerror="img_error(this)" /></td>
                    <td style="vertical-align:top;">
                        <div class="row modal-header">
                            <div class="col-md-2">{{$index + 1}} - {{m.Year}}</div>
                            <div class="col-md-8">{{m.Title}}</div>
                        </div>
                       
                        @*<input type="button" class="btn" onclick="showDetail(this)" value="Detail" ref="{{m.ID}}" controlId="{{$index}}"/>*@
                        <div class="row hidden" controlId="{{$index}}" ref="{{m.ID}}">                           
                            <div class="col-md-2"><span style="font-weight:bold">Rated&nbsp;</span><span id="rated{{$index}}"></span></div>
                            <div class="col-md-2"><span style="font-weight:bold">Rating&nbsp;</span><span id="rating{{$index}}"></span></div>
                            <div class="col-md-5"><span style="font-weight:bold">Release Date &nbsp;</span><span id="released{{$index}}"></span></div>
                            <div class="col-md-3"><span style="font-weight:bold">Runtime&nbsp;</span><span id="runtime{{$index}}"></span></div>
                        </div>   
                        <div class="row hidden" controlId="{{$index}}">
                            <div class="col-md-12"><span style="font-weight:bold">Staring&nbsp;</span><span id="actors{{$index}}"></span></div>
                        </div>
                        <div class="row hidden" controlId="{{$index}}">
                            <div class="col-md-12"><span style="font-weight:bold">Price&nbsp;</span><span id="price{{$index}}"></span></div>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
    </div>
      

        @section Scripts{

            <script>
                //var moviesControllerScope;
                function img_error(src) {
                    src.src = "/Content/img/image_na.png"
                }

                function showDetail(id,idx) {
                    //var id = e.attributes["ref"].value;
                    //var idx = e.attributes["controlId"].value;

                    $.ajax({
                        url: "/Main/GetMovieDetail/" + id,
                        async: true,
                        success: function (data) {
                            var movieDetail = JSON.parse(data);
                            $("#rated" + idx).html(movieDetail.Rated);
                            $("#rating" + idx).html(movieDetail.Rating);
                            $("#released" + idx).html(movieDetail.Released);
                            $("#runtime" + idx).html(movieDetail.Runtime);
                            $("#actors" + idx).html(movieDetail.Actors);
                            $("#price" + idx).html(movieDetail.Price);
                            $("div[controlId=" + idx + "]").removeClass("hidden");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            
                            alert("error");
                        }
                    });

                   


                }

              
            </script>

        }
